# Vivado specific files
.Xil/
vivado-runtime/*.txt
vivado-runtime/rtl-elaborate/
vivado-runtime/parallel_logs/
*.str

# editor specific folders
.nvim/
.vscode/

# Python files
.venv/
.python-version
__pycache__/

# Claude project environment files
CLAUDE.md
work/

# Animation generation files
animation_py/

# Do not track plots
vivado-analysis_plots/

# Some local testing Tcl scripts
vivado-synthesis_tcl/vivado_analysis_cycled.tcl
vivado-synthesis_tcl/synth_design_test.tcl
vivado-synthesis_tcl/synth_design_test_nonproject.tcl
vivado-synthesis_tcl/synth_design_param_sweep_parallel_cycled.tcl

vivado-runtime/run_param_sweep_parallel_cycled.sh

hwpq/register_array/rtl_elaboration/

# Linter
.svlint.toml
.svls.toml

# MacOS
.DS_Store

obj_dir
*.vvp
*.vcd

build/